html {
  --control-panel-size: 20vw;
}

/*////////////////////////////
  ADMIN AND PROFILE CONTAINERS
/////////////////////////////*/

.page_container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.control_panel {
  position: fixed;
  width: var(--control-panel-size);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em;
  height: 100%;
  -webkit-box-shadow: 8px 0 10px -6px #000000;
	-moz-box-shadow: 8px 0 10px -6px #000000;
  box-shadow: 8px 0 10px -6px #000000;
  z-index: 1;
  background-color: rgb(248, 248, 248);
}

.control_panel button {
  width: 70%;
  min-width: 75px;
  margin-bottom: 2em;
  -webkit-box-shadow: 1px 1px 1px 0px black;
	-moz-box-shadow: 1px 1px 1px 0px black;
  box-shadow: 1px 1px 1px 0px black;
}

.component_container {
  margin-left: var(--control-panel-size);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80vw;
  padding: 2em 2em;
  height: 100%;
}

.component_header {
  width: 100%;
}

.component_header h1 {
  font-size: 1.5rem;
}

.component_header-sort {
  display: flex;
  margin-bottom: 0.5em;
}

.component_header-sort button {
  background-color: rgb(224, 224, 224);
  margin-right: 0.5em;
  box-shadow: 1px 1px 1px 1px rgb(63, 63, 63);
}

.event-title {
  text-align: center;
}

        /*///////////////////////////////////////////
          ADMIN AND PROFILE CONTAINER MEDIA QUERIES
        ///////////////////////////////////////////*/

        @media all and (max-width: 450px) {
          .control_panel {
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 100%;
            height: var(--control-panel-size);
            padding: 0;
            bottom: 0;
            left: 0;
          }

          .control_panel button {
            max-width: 95px;
            margin-bottom: 0em;
          }

          .component_container {
            width: 100%;
            margin-left: 0;
            margin-bottom: var(--control-panel-size);
          }
        }


/*//////////// 
  SINGLE USER 
////////////*/

.single_user {
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5em;
  -webkit-box-shadow: 1px 2px 3px 0px rgb(0, 0, 0);
	-moz-box-shadow: 1px 2px 3px 0px rgb(0, 0, 0);
  box-shadow: 1px 2px 3px 0px rgb(0, 0, 0);
  background-color: #f7f7f7;
  margin-bottom: 2em;
  font-size: 110%;
}

.single_user img {
  max-width: 150px;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.user-info div {
  display: flex;
  flex-flow: column nowrap;
}

.user-info div p:not(:last-child), .user-info div button:first-child {
  margin-bottom: 0.5em;
}

.user-info div span {
  color: #00529E;
}

        /*/////////////////////////
          SINGLE USER MEDIA QUERIES
        /////////////////////////*/

        @media all and (max-width: 840px) {
          .single_user {
            font-size: 80%;
          }
          
          .single_user img {
            max-width: 70px;
          }
        }

        @media all and (max-width: 636px) {

          .user-info div.single_user-buttons {
            margin-top: 0.5em;
            width: 100%;
            flex-flow: row wrap;
            justify-content: center;
          }

          .user-info div.single_user-buttons button{
            margin: 0.3em;
          }
        }

        @media all and (max-width: 530px) {
          .single_user {
            flex-flow: column wrap;
          }

          .single_user div {
            align-items: center;
          }
        }

/*/////////////////////////
    ADD EVENT COMPONENT
/////////////////////////*/

.addEvent_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border: solid 1px black;
  border-radius: 5px;
}

.addEvent-inputs {
  font-size: 150%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
  padding-bottom: 0em;
}

.addEvent-inputs div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.addEvent-inputs div label {
  margin-right: 0.5em;
}

.addEvent-inputs div input {
  width: 200px;
}

.addEvent-inputs div.comments-container {
  flex-wrap: wrap;
  justify-content: center;}


.addEvent_form button {
  margin: 1em auto;
  width: 90px;
  -webkit-box-shadow: 1px 1px 1px 0px black;
	-moz-box-shadow: 1px 1px 1px 0px black;
  box-shadow: 1px 1px 1px 0px black;
}

.addEvent_form-message {
  padding-bottom: 1em;
}
        /*/////////////////////////
          ADD EVENT MEDIA QUERIES
        /////////////////////////*/

        @media all and (max-width: 700px) {
          .addEvent-inputs {
            font-size: 100%;
          }
        }

        @media all and (max-width: 450px) {
          .addEvent-inputs div input {
            width: 150px;
          }
        }

/*///////////////////////
  LIST EVENTS AND USERS
/////////////////////////*/

.list-events_container, .list-users_container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sort_selector {
  margin-bottom: 1em;
}

.sort_selector label:first-child {
  margin-right: 0.5em;
}

/*/////////////////
  SINGLE EVENT VIEW
/////////////////*/

.single_event {
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: unset;
  padding: 1em 4em;
  -webkit-box-shadow: 1px 2px 3px 0px rgb(0, 0, 0);
	-moz-box-shadow: 1px 2px 3px 0px rgb(0, 0, 0);
  box-shadow: 1px 2px 3px 0px rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 2em;
}

.list-events_container .single_event:nth-child(2n) {
  background-color: rgb(224, 224, 224);
}

.single_event header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px black;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  margin-bottom: 0.5em;
}

.list-events_container .single_event:nth-child(2n) header {
  background-color: rgb(255, 255, 255);
}

.single_event header span {
  font-size: 2rem;
  width: min-content;
  color: black;
}

.single_event span {
  color: rgb(177, 7, 7);
}

.event-special_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5em;
}

.event-special_container p:not(:last-child) {
  margin-right: 1em;
}

.single_event-participants_container {
  width: calc(100% - 180px);
  margin: 0 auto;
  margin-bottom: 2em;
}

.single_event-participants_container summary {
  width: max-content;
  margin: 0 auto;
}

.single_event-participants_container > div {
  display: flex;
  width: 100%;
  margin-top: 0.5em;
  justify-content: space-around;
}

.details-participants {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.details-participants h3 {
  text-decoration: underline;
  margin-bottom: 0.3em;
}

.details-participants ul li:not(:last-child), .details-participants_div p:not(:last-child) {
  margin-bottom: 0.5em;
}

.event-button_participant_container {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5em;
}

.list-events_container .single_event:nth-child(2n) button {
  background-color: rgb(255, 255, 255);
}

.event-button_participant_container button {
  width: 90px;
  background: rgb(224, 224, 224);
}

.event-button_participant_container button:first-child {
  left: 0;
}

.event-button_participant_container button:last-child {
  right: 0;
}
        /*////////////////////////////////
          SINGLE EVENT VIEW MEDIA QUERIES
        ////////////////////////////////*/

        @media all and (max-width: 1030px) {
          .single_event-participants_container > div {
            flex-flow: column nowrap;
          }

          .details-participants {
            align-items: flex-start;
            margin-bottom: 1em;
          }

          .details-participants ul, .details-participants_div {
            display: flex;
            flex-flow: row wrap;
            margin-left: 1em;
          }

          .details-participants ul li:not(:last-child), .details-participants_div p:not(:last-child) {
            margin-right: 0.5em;
          }
        }

        @media all and (max-width: 800px) {
          .single_event {
            font-size: 90%;
            padding: 1em 2em;
          }
        }

        @media all and (max-width: 700px) {
          .single_event header {
            flex-wrap: wrap;
          }
        }

        @media all and (max-width: 600px) {
          .single_event {
            align-items: center;
          }

          .single_event header {
            font-size: 70%;
            flex-direction: column;
            width: 50%;
            min-width: 130px;
          }

          .single_event header span {
            display: none;
          }

          .single_event-participants_container {
            width: 100%;
            margin: 0 0 2em 0;
          } 
        }

/*////////////////////
  SINGLE EVENT MODIFY
////////////////////*/

.modify_form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 1em 2em;
  margin-bottom: 2em;
  box-shadow: 1px 2px 3px 0px rgb(0, 0, 0);
  background-color: rgb(247, 247, 247);
}

.modify_form input {
  width: 150px;
  margin-right: 0.5em;
}

.modify-event_details {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 4em;
  width: 100%;
}

.modify-event_details-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.modify-event_details-grid_item1, .modify-event_details-grid_item2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.modify_form-details_container, .modify_form-details_container label {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.modify-event_participants {
  display: flex;
  flex-flow: column nowrap;
}

.modify-event_participants div, .modify-event_participants h2 {
  margin-bottom: 0.5em;
}

.modify-event_participants-grid {
  display: grid;
  grid-template-areas: 
    'leaders leaders'
    'walkers providers';
  grid-template-columns: 1fr 1fr;
}

.participant_leaders {grid-area: leaders;}
.participant_route_walkers {grid-area: walkers}
.participant_food_providers {grid-area: providers}

.participant_leaders {
  margin-top: 1em;
}

.participant_leaders h4 {
  text-decoration: underline;
  margin-bottom: 1em;
  text-align: center;
}

.participant_leaders-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.leaders_container > div {
  display: flex;
}

.participant_route_walkers, .participant_food_providers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participant_route_walkers label, .participant_food_providers > label {
  font-weight: bold;
  text-decoration: underline;
}

#modify_form-routewalkers_list, #modify_form-providers_list {
  margin-top: 1em;
}

#modify_form-routewalkers_list li, #modify_form-providers_list li {
  margin-bottom: 1em;
}

#modify_form-providers_list li div {
  margin-top: 0.5em;
}

.modify_form-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.modify_form-buttons button {
  padding: 1em;
}

.removeBtn {
  width: min-content;
}

        /*/////////////////////////////////
          SINGLE EVENT MODIFY MEDIA QUERIES
        //////////////////////////////////*/

        @media all and (max-width: 1000px) {

          .modify_form {
            padding: 1em;
          }

          /*//////////////
              Details 
          ///////////////*/
          
          .modify-event_details {
            margin-bottom: 2em;
          }

          .modify_form-details_container {
            margin-bottom: 1em;
          }

          .modify_form-details_container.comments {
            flex-direction: column;
          }

          .modify_form-details_container.comments label {
            margin-right: 0;
          }

          /*///////////////////
              Participants 
          ////////////////////*/
          .modify-event_participants div {
            margin-bottom: 1em;
          }

          .modify-event_participants h2 {
            margin-bottom: 1em;
          }

          .leaders_container input {
            margin-right: 0.5em;
          }

          .modify-event_participants-grid {
            grid-template-areas: 
              'leaders walkers'
              'providers providers';
            align-items: center;
            justify-items: center;
          }
          
          .participant_leaders-flex {
            flex-direction: column;
          }

          #modify_form-providers_list {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
          }

          #modify_form-providers_list li {
            margin-right: 1em;
          }

          .participant_route_walkers label, .participant_food_providers label {
            margin-bottom: 1em;
          }

          .leaders_container {
            margin-bottom: 1em;
          }
        }

        @media all and (max-width: 900px) {

          .modify-event_details-grid {
            grid-template-columns: 1fr 1fr;
            padding-top: 1em;
          }
          
          .modify-event_details-grid_item1, .modify-event_details-grid_item2 {
            flex-direction: column;
            align-items: center;
          }
        }

        @media all and (max-width: 690px) {

          .modify-event_details-grid {
            grid-template-columns: 1fr;
          }

          .modify-event_participants-grid {
            grid-template-columns: 1fr;
            grid-template-areas: 
              'leaders' 
              'walkers'
              'providers ';
          }
        }

        @media all and (max-width: 600px) {
          #modify_form-providers_list li {
            margin-right: 0em;
          }
        }
