.contact_section {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}

.contact_form {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  max-height: 1500px;
  width: 50%;
  max-width: 2000px;
  min-width: 450px;
  padding: 2em 4em;
  justify-content: space-evenly;
  background-color: beige;
  color: black;
  border-radius: 15px;
}

.contact_form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact_form h1, .contact_form p {
  text-align: center;
  margin-bottom: 0.5em;
}

.contact_form label {
  margin-bottom: 0.3em;
}

.contact_form input {
  width: 100%;
  border: none;
  margin-bottom: 1em;
}

.contact_form textarea {
  margin-bottom: 2em;
}

.contact_form button {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 0.5em;
  background-color: rgb(240, 240, 240);
  color: rgb(36, 36, 36);
  border: none;
  box-shadow: 1px 1px 3px rgb(36, 36, 36);
  transition: transform 0.1s;
  margin-bottom: 1em;
}

.contact_form button:hover {
  transform: scale(0.98);
}

.required-message {
  margin-left: 1em;
  color: white;
}

.required-class {
  outline: 3px solid #0099ff;
}

        @media all and (min-width: 1280px) {
          .contact_form {
            width: 70%;
          }
        }

        @media all and (max-width: 500px) {
          .contact_form {
            min-width: 300px;
            width: 90%;
            padding: 1em 2em;
            align-items: center;
          }

          .contact_form label {
            align-self: flex-start;
          }
        }

        @media all and (min-height: 1080px) {
          .contact_section {
            font-size: 170%;
          }

          .contact_form input {
            height: 50px;
          }

          .contact_form textarea {
            height: 10em;
          }
        }

        @media all and (min-height: 1580px) {
          .contact_section {
            font-size: 200%;
          }
        }

        @media all and (max-height: 700px) {

          .contact_form input {
            margin-bottom: 0.5em;
          }

          .contact_form textarea {
            margin-bottom: 1em;
          }
        }

        @media all and (max-height: 600px) {
          .contact_section {
            height: unset;
          }
        }

