/*//////////////////
////DONATION PAGE 
/////////////////*/

.donate_page {
  margin-top: var(--nav_height);
}

.donate_page-banner {
  width: 100%;
  height: 300px;
  background-image: url('http://68.183.215.224/public/images/donate_page-splash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.donate_wrapper {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {  
  margin-bottom: 4em;
  padding: 0 2em;
}

.content h1 {  
  font-size: 2rem;
  margin-bottom: 1em;
}

.donation-success {
  text-align: center;
  margin: 2em auto;
  padding: 2em;
  border: 1px solid black;
}

.donation_section {
  padding: 0;
  margin: 0;
  width: 70%;
  outline: solid black;
}

/*//////////////////
    DONATION FORM
//////////////////*/

.donation_form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em;
}

.donation_form button {
  cursor: pointer;
  background-color: rgb(197, 200, 219);
  border: solid 1px black;
  transition: all 0.2s;
  border-radius: 5px;
}

.donation_form button:hover {
  background-color: rgb(233, 196, 196);
}

.donation_form h2 {
  width: 100%;
  border-bottom: solid 1px black;
  margin-bottom: 1em;
}

.donation_form-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  margin-bottom: 1em;
}

.donation_form-list_item:not(:last-child){
  margin-right: 1em;
}

.donation_form-list_item button {
  font-size: 1.3rem;
  padding: 1em 2em;
}

.donation_form-other {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 100%;
  padding: 1em;
  border: solid 1px black;
}

.donation_form-other_container {
  display: flex;
  justify-content: center;
}

.donation_form-other_container button {
  margin-right: 2em;
  padding: 1em 2em;
}

.donation_form-other_input_container {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.5em 1em;
  border: solid 1px black;
}

.donation_form-other_input_container span {
  font-size: 1.2rem;
}

.donation_form-other_input_container input {
  width: 80%;
  font-size: 1.5rem;
  height: 100%;
  padding-left: 0.25em;
  border: none;
}

.donation_frequency_container {
  display: flex;
  flex-direction: column;
}

.donation_frequency_container div:first-child {
  margin-bottom: 1em;
}

.donation_frequency_container div {
  width: 100%;
}

.donation_frequency_container input {
  height: auto;
  width: auto;
}

.donation_form .btn-selected {
  background-color: #FF764A;
}

.donation_form .btn-selected:hover {
  background-color: #FF764A;
}

.donation_form-submit_container {
  margin-top: 1em;
}

.donation_form-submit_container button {
  padding: 1em 2em;
}

.donation_form-submit_container button:hover {
  background-color: #3ED588;
}

.donation_form-submit_container button[disabled] {
  background-color: rgb(218, 218, 218);
}

.donation_form-submit_container button[disabled]:hover {
  cursor: default;
  background-color: rgb(218, 218, 218);
}

.donation_form-submit_container button[disabled]:active {
  transform: none;
}

/*////////////////////////
  DONATION ERROR PAGE
////////////////////////*/

.donation_error-section {
  padding: 2em;
  text-align: center;
}

.message_box {
  width: 30%; 
  min-width: 250px;
  margin: 4em auto; 
}

        /*////////////////////////////////////////////
          DONATION PAGE AND COMPONENTS MEDIA QUERIES
        ////////////////////////////////////////////*/


        @media all and (max-width: 1250px) {
          .donation_form-list {
            grid-template-columns: repeat(3, 1fr);
            gap: 1em 3em;
            justify-items: center;
          }

          .donation_form-list_item:not(:last-child){
            margin-right: 0em;
          }
        }

        @media all and (max-width: 1120px) {
          .donation_frequency_container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          #donation_frequency-recurring, #donation_frequency-single {
            margin-left: 0;
          }
        }

        @media all and (max-width: 980px) {
          .donation_form-other_container {
            flex-direction: column;
            align-items: center;
          }

          .donation_form-other_container button {
            margin-right: 0em;
            margin-bottom: 1em;
          }
        }

        @media all and (max-width: 800px) {
          .donation_form h2 {
            text-align: center;
          }

          .donation_form-list {
            grid-template-columns: repeat(2, 1fr);
          }

          .donation_form-other_input_container {
            width: 70%;
          }
        }

        @media all and (max-width: 600px) {
          .donation_form {
            padding: 2em 1em;
          }

          .donation_form-list_item button {
            font-size: 1.1rem;
          }

          .donation_form-other {
            padding: 1em 0;
            grid-template-columns: 1fr;
          }

          .donation_frequency_container {
            margin-top: 1em;
            text-align: center;
          }
        }

        @media all and (max-width: 460px) {
          .donate_wrapper {
            padding: 2em 0em;
          }
          
          .donation_section {
            width: 90%;
          }

          .donation_form-other_input_container {
            padding: 0.5em 0;
          }
        }