.event_page_container {
  position: relative;
  padding: 2em 4em;
  font-size: 100%;
  /* background-color: green; */
}

.event_page_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

.event_page_header h1 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.event_page_form {
  padding: 4em;
    background-color: #dce7ee;
  border-radius: 10px;
}

.event_page_form section {
  margin-bottom: 2em;
}

.event_page_form section > h2 {
  margin-bottom: 0.5em;
}

.event_page_form button {
  color: black;
  background-color: #e2e2cc;
  box-shadow: 1px 1px 2px 0.5px black;
  padding: 0.5em;
}

.event_page_form button[disabled] {
  background-color: rgb(245, 245, 245);
  box-shadow: none;
}

.event_page_form button[disabled]:active {
  transform: none;
}

.event_page_form-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1em;
}

.event_page_form-info {
  padding: 1em;
  margin: 1em 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.event_page_form-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.event_page_form-img {
  width: 100%;
  border-radius: 50%;
  margin-right: 1em;
}

.event_page_form-arrays_grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  margin-top: 1em;
  gap: 1em;
  align-items: center;
}

.event_page_form-arrays_grid li {
  text-align: center;
  margin-right: 1em;
}

.event_page_form-arrays_grid p {
  margin-bottom: 0.5em;
}

.event_page_form-button_container {
  display: flex;
  justify-content: space-around;
}

.event_page_form-button_container button {
  min-width: 50px;
  min-height: 44px;
}

        @media all and (max-width: 900px) {
          .event_page_form-grid div {
            flex-direction: column;
            align-items: center;
          }

          .event_page_form-img {
            margin-right: 0em;
          }
        }

        @media all and (max-width: 600px) {

          .event_page_container {
            padding: 2em 1em;
          }

          .event_page_form {
            padding: 2em;
          }

          .event_page_form p {
            font-size: 0.9rem;
          }

          .event_page_form-grid {
            display: grid;
            grid-template-columns: 100%;
          }

          .event_page_form-arrays_grid li {
            margin-right: 0em;
          } 
        }

        @media all and (max-width: 400px) {
          .event_page_form-arrays_grid {
            grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
        }
      }

#confirm_modal {
    position: fixed;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color:rgba(0,0,0,0.5);
    color: rgb(252, 252, 252);
    z-index: 2;
}

.confirm_modal-form {
  position: fixed;
  left: 50%; top: 10%;
  width: 50%;
  transform: translateX(-50%);
  background-color: #e2e2cc;
  color: black;
  padding: 2em;
}

.confirm_modal-form header {
  text-align: center;
  margin-bottom: 1em;
}

.confirm_modal-inputs_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  outline: solid 1px black;
}

.confirm_modal-inputs_container > div {
  width: 300px;
  margin-bottom: 0.5em;
}

.confirm_modal-inputs_container input, #confirm_modal-user_telephone {
  width: 100%;
}

.confirm_modal-button_container {
  display: flex;
  justify-content: space-evenly;
}

.confirm_modal-button_container button {
  padding: 0.5em;
}

.confirm_modal-required {
  text-align: center;
  text-decoration: underline;
  color: rgb(175, 2, 2);
}

.submit_message {
  text-align: center;
}

        @media all and (max-width: 768px) {
          .confirm_modal-form {
            padding: 2em 1em;
            width: 80%;
          }
        }

        @media all and (max-width: 500px) {
          .confirm_modal-inputs_container > div {
            width: 200px;
          }
        }