.event_confirm-section {
  height: calc(100vh - var(--nav_height));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
}

.event_confirm-img_container {
  width: 30vw;
}

.event_confirm-img_container img {
  width: 100%;
}

.event_confirm-text_container {
  text-align: center;
  width: 100%;
  padding: 1em;
}

.event_confirm-text_container h1 {
  margin-bottom: 0.5em;
}
