.home_page {
  position: relative;
  padding: 0 2em;
  padding-bottom: 4em;
}

.home_page section, .home_page img {
  border-radius: 10px;
}

.home_page-banner {
  width: 100%;
  margin-bottom: 4em;
}

.home_page-banner img {
  width: 100%;
  margin-top: 1em;
}

.home-main_wrapper {
  display: flex;
  flex-direction: column;
}

.home-main_wrapper section {
  margin-bottom: 4em;
}

.what-is-esperanca_section {
  background-color: beige;
}

.what-is-esperanca_section h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1em 0;
}

.what-is-esperanca_content {
  display: flex;
  flex-flow: row nowrap;
}

.what-is-esperanca_content-img {
  width: 50%;
  min-width: 250px;
  padding: 2em;
}

.what-is-esperanca_content-img img {
  width: 100%;
}

.what-is-esperanca_content-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
  padding: 2em;
  justify-content: center;
}

.what-is-esperanca_content-text p {
  margin-bottom: 1em;
}

.donate_link button {
  cursor: pointer;
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px 0px black;
  transition: all 0.2s;
}

.donate_link button:hover {
  transform: scale(1.05);
}

.how-to-volunteer_section {
  background-color: rgb(143, 204, 241);
  padding: 2em;
}

.how-to-volunteer_section h2 {
  text-align: center;
}

.how-to-volunteer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  margin-top: 1em;
}

.volunteer_activity {
  cursor: pointer;
  padding: 1em;
  box-shadow: 2px 2px 3px 1px black;
  border-radius: 10px;
  background-color: rgb(231, 246, 255);
}

.volunteer_activity img {
  width: 100%;
}

.volunteer_activity p {
  position: relative;
  text-align: center;
  font-size: 1.3rem;
}

.activity_info_container {
  margin-top: 2em;
  padding: 1em;
  background-color: rgb(231, 246, 255);
  border-radius: 10px;
}

/* .volunteer_activity p::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 120%;
  top: -120%; left: 0;
  background-color: rgb(143, 204, 241);
  z-index: 1;
} */

.event_container {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
  justify-items: center;
}

.upcoming-event {
  max-width: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 2em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: beige;
}

.upcoming-event_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.upcoming-event_info > div {
  display: flex;
}

.upcoming-event_info > div p:first-child {
  margin-right: 0.5em;
}

.upcoming-event_needed {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
}

.upcoming-event_needed-list {
  list-style-type: disc;
  margin-left: 2em;
}

.upcoming-event_comments {
  margin: 1em;
  margin-bottom: 2em;
}

.upcoming-event_button-container {
  display: flex;
  justify-content: center;
}

.upcoming-event_button-container button {
  padding: 1em;
  position: absolute;
  bottom: 0.5em;
}

        @media all and (max-width: 700px) {
          .what-is-esperanca_content-img {
            padding: 1em;
          }
          
          .what-is-esperanca_content-text {
            padding: 1em;
          }
        }

        @media all and (max-width: 550px) {
          .what-is-esperanca_content {
            flex-flow: column nowrap;
            align-items: center;
          }   
          
          .what-is-esperanca_content-text {
            flex-flow: row nowrap;
            width: 100%;
          }
      }
      
      @media all and (max-width: 400px) {
        .what-is-esperanca_content-text {
          flex-flow: column nowrap;
        }
      }
