:root {
  --nav_height: 60px;
}

html, div#root, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, a, p, ul, ol, li, button, section, article {
  margin: 0;
  padding: 0;
}

button {
  /* min-width: 44px;
  min-height: 44px; */
  border-radius: 5px;
  border: none;
  padding: 3px;
  border: 1px solid #CACACA;
  background-color: white;
  transition: all 0.2s;
}

button:hover {
  background-color: rgb(247, 247, 247);
}

button:active {
  transform: scale(0.95);
}

ul {
  list-style-type: none;
}

input {
  height: 35px;
  width: 300px;
  border: 1px solid #CACACA;
  border-radius: 5px;
  padding-left: 15px;
}

.body_container {
  margin-top: var(--nav_height);
  height: 100%;
  width: 100%;
}
