.nav_header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: var(--nav_height);
  z-index: 1;
  padding: 0 2em;
  background-color: rgb(143, 204, 241);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-esperanca_list li {
  margin-right: 2em;
}

.navbar a {
  text-decoration: none;
  color: black; 
}

.nav-donate_link {
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px black;
  transition: all 0.2s;
}

.nav-donate_link:hover {
  padding: 0.6em;
}

.nav-account_list {
  display: flex;
}

.nav-account_list > li:first-child {
  margin-right: 1em;
}

.nav-profile_menu {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-profile_menu img {
  max-width: 50px;
  max-height: 50px;
  vertical-align: bottom;
  border-radius: 50%;
  margin-right: 0.5em;
}

.nav-profile_menu button {
  padding: 0.5em;
}

#profile_list {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  bottom: 0; right: 0;
  width: 100%;
  transform: translate(0%, 103%);
  padding: 1em;
  border: 1px solid black;
  background-color: white;
}

#profile_list li:not(.profile-logout) {
  margin-bottom: 1em;
  font-size: 1.3rem;
}

#profile_list a:hover {
  color: rgb(57, 57, 255);
  text-decoration: underline;
}

.profile-logout {
  cursor: pointer;
}

.profile-logout button {
  font-size: 1.1rem;
  padding: 0.5em;
}

        @media all and (max-width: 450px) {

          .nav_header {
            padding: 0 1em;
          }

          .nav-esperanca_list li {
            margin-right: 1em;
          }

          a.nav-link {
            font-size: 0.8rem;
          }

          a.nav-donate_link {
            padding: 0.3em;
          }
        }