.component_container h1 {
  height: 100%;
  font-size: 2rem;
}

/*///////////////////////////////
////// USER LOGIN INFO /////////
///////////////////////////////*/
#profile-user_login_form {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 2em;
  margin: 2em 0;
  align-items: center;
}

#profile-user_login_form label {
  margin-bottom: 0.5em;
}

#profile-user_login_form > input {
  margin-bottom: 2em;
}

        @media all and (max-width: 350px) {
          #profile-user_login_form > input {
            width: 250px;
          }
        }

/*/////////////////////////
////// USER INFO /////////
////////////////////////*/
#profile-user_info_form {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 2em;
  margin-bottom: 2em;
  align-items: center;
}
#profile-user_info_form > p {
  margin-bottom: 1em;
}

#profile-user_info_form > div  {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
}

.input_container p {
  font-size: 0.9rem;
  margin-left: 1em;

}

.phone_input.react-tel-input {
  width: min-content;
}

#profile-user_info_form > button {
  width: 200px;
  margin-top: 2em;
  background-color: rgb(227, 243, 253);
  border: solid 1px black;
}

#profile-user_info_form > button:hover {
  background-color: rgb(167, 221, 255);
  border: solid 1px black;
}

.image_upload_container {
  display: grid;
  grid-template-areas: 
    'current preview input';
  grid-template-columns: 1fr 1fr 1fr;
  border: solid 1px black;
  gap: 4em;
  padding: 1em;
  align-items: center;
}

.current_photo {grid-area: current}
.photo_preview {grid-area: preview}
.input_container {grid-area: input}

.image_upload_container img {
  width: 100%;
}

.img-container {
  width: 100px;
  border: solid 1px black;
  text-align: center;
}

.photo_input {
  padding: 0.5em;
}

.photo_preview-button_container {
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.messages {
  text-align: center;
}

.userEvents-button {
  background-color: rgb(224, 224, 224);
  box-shadow: 1px 1px 1px 1px rgb(63, 63, 63);
  margin: 1em 0;
}

        @media all and (max-width: 1000px) {
          .photo_input {
            width: 200px;
          }
        }

        @media all and (max-width: 850px) {
          .image_upload_container {
            grid-template-areas: 
              'current preview' 
              'input input';
            grid-template-columns: 1fr 1fr;
            gap: 2em 0;
            justify-items: center;
          }
        }

        @media all and (max-width: 500px) {
          #profile-user_info_form input {
            width: 200px;
          }
        }

        @media all and (max-width: 400px) {
          #profile-user_info_form {
            padding-right: 0;
            padding-left: 0;
          }

          .image_upload_container {
            grid-template-areas: 
              'current' 
              'preview' 
              'input';
            grid-template-columns: 1fr;
          }
        }