.register_container, .login_container {
  display: flex;
  justify-content: center;
}

.register_form, .login_form {
  width: 30vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: rgb(224, 224, 224);
  margin-top: 2em;
}

.login_form > div, .register_form div { 
  width: 100%;
  margin-bottom: 2em;
}

.login_form input, .register_form input {
  width: 100%;
  min-width: 130px;
}

.login_form button, .register_form button {
  min-width: 50px;
  min-height: 45px;
  margin: 0 auto;
}

div.register_message, div.login_message {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}